.div-container {
  margin-top: 150px;
  align-items: center;
}

.container-hr {
  border: 0;
  margin: auto;
  height: 2px;
  width: 50%;
  background-image: linear-gradient(
    to right,
    transparent,
    #715aff,
    transparent
  );
}
